/bin
/bin-test
/build
/classes
/doc
/example
/out
/report
/src/ea/test
/src/ea/example

/.settings

/.classpath
/.project

*.ipr
*.iws
*.iml
*.class

*.orig

engine-pi.log

*~

target/

screenshot.png
screenshot.gif
screenshot.jpg

*.xml.versionsBackup

site/

__pycache__/
