# https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#publishing-using-apache-maven

name: Publish package to the Maven Central Repository
on:
  push:
    # Pattern matched against refs/tags
    tags:
      - "*" # Push events to every tag not containing /
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:

      # https://github.com/actions/checkout
      - name: Checkout the repository
        uses: actions/checkout@v6

      # https://github.com/actions/setup-java
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: central # see pom.xml <publishingServerId>central</publishingServerId>
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          # gpg --armor --export-secret-keys <key_id> > gpg_key.asc
          # cat gpg_key.asc
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }} # Value of the GPG private key to import
          gpg-passphrase: GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Clone the repository https://github.com/engine-pi/assets and sync some resources folder (required by the tests)
        run: make pull_resources

      - name: Package build-tools is requried by javadoc
        run: mvn install --projects de.pirckheimer-gymnasium:engine-pi-build-tools
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
