name: Create a Github release

on:
  push:
    # Pattern matched against refs/tags
    tags:
      - "*" # Push events to every tag not containing /

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout the repository
        uses: actions/checkout@v5
      # https://github.com/actions/setup-java
      - uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven
      - name: Package build-tools is requried by javadoc
        run: mvn install --projects de.pirckheimer-gymnasium:engine-pi-build-tools
      - name: Package using Maven
        run: mvn package
      # https://github.com/softprops/action-gh-release
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          # The action uses the javascript glob library
          files: |
            modules/engine/target/*.jar
            modules/engine/target/*.zip
