name: Create a Github release

on:
  push:
    # Pattern matched against refs/tags
    tags:
      - "*" # Push events to every tag not containing /

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout the repository
        uses: actions/checkout@v6
        with:
          submodules: true

      # https://github.com/actions/setup-java
      - uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven
          # gpg --armor --export-secret-keys <key_id> > gpg_key.asc
          # cat gpg_key.asc
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }} # Value of the GPG private key to import
          gpg-passphrase: GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Sync the assets with some resources folder
        run: make assets_sync_resources

      - name: Package build-tools is requried by javadoc
        run: mvn install --projects de.pirckheimer-gymnasium:engine-pi-build-tools
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Package using Maven
        run: mvn package
      # https://github.com/softprops/action-gh-release

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          # The action uses the javascript glob library
          files: |
            modules/engine/target/*.jar
            modules/engine/target/*.zip
