---
name: Run tests

on: push

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout the repository
        uses: actions/checkout@v5
      # https://github.com/actions/setup-java
      - uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven
      - name: Clone the repository https://github.com/engine-pi/assets and sync some resources folder
        run: make pull_resources
      - name: Run the tests using Maven
        run: mvn test
