---
name: Run tests

on: push

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout the repository
        uses: actions/checkout@v6
        with:
          submodules: true

      # https://github.com/actions/setup-java
      - uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Sync the assets with some resources folder
        run: make assets_sync_resources

      - name: Run the tests using Maven
        run: mvn test
